#header-outer nav >ul >.megamenu{
  position:inherit
}
#header-outer nav >ul >.megamenu >.sub-menu{
  width:100%;
  left:0;
  padding:15px 0;
  display:table;
  background-color:#1C1C1C
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >.sub-menu,
#header-outer nav >ul >.nectar-megamenu-menu-item >.sub-menu {
	display: flex;
}
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >.sub-menu {
	padding: 0;
}
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >.sub-menu > li {
	padding: 20px;
}
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >.sub-menu > li.megamenu-column-padding-none {
	padding: 0;
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >ul >li {
	width: auto;
	display: block;
	flex: 1;
}

#header-outer nav > ul >.megamenu.nectar-megamenu-menu-item .widget-area-active a {
	padding: 0;
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item[class*="align-"]:not(.width-100) > ul,
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item[class*="align-"]:not(.width-100) > .nectar-global-section-megamenu  {
	left: auto;
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item.width-50 > ul,
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item.width-50 > .nectar-global-section-megamenu {
	width: 45em;
}
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item.width-75 > ul,
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item.width-75 > .nectar-global-section-megamenu {
	width: 70em;
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item > ul,
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item > ul > li {
	background-size: cover;
	background-position: center;
}
#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item > ul {
	overflow: hidden;
}

#header-outer .sf-menu > .megamenu.nectar-megamenu-menu-item li .widget-area-active img {
	margin-bottom: 0;
}

#header-outer .sf-menu > .megamenu.nectar-megamenu-menu-item li .widget-area-active ul {
	margin-left: 0;
	margin-top: 0;
	padding: 0;
}
#header-outer nav > .sf-menu > .megamenu.nectar-megamenu-menu-item > ul .widget-area-active {
	height: 100%;
}
#header-outer nav > .sf-menu > .megamenu.nectar-megamenu-menu-item > ul .widget-area-active li {
	line-height: 2em;
}

#header-outer nav >ul >.megamenu.nectar-megamenu-menu-item >ul >li.menu-item.megamenu-column-padding-none >a{
  margin-bottom: 0;
}

/* global section mega menu */

#top nav ul li .nectar-global-section-megamenu a {
  color: inherit;
  z-index: 100;
}


[data-header-color="dark"] .nectar-global-section-megamenu {
  background-color: #000;
}
.nectar-global-section-megamenu {
  background-color: #fff;
}
#header-outer nav .nectar-global-section-megamenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
  line-height: var(--nectar-body-line-height, 16px);
  font-size: var(--nectar-body-font-size, 16px);
  text-align: left;
  max-height: 80vh;
  overflow-y: auto;
  width: 100%;
}
#header-outer nav li:not(.sfHover):not(:hover) .nectar-global-section-megamenu * {
  pointer-events: none!important;
}

body .nectar-global-section-megamenu a {
  display: inline;
}

.nectar-global-section-megamenu a.column-link {
  display: block;
  position: absolute;
}

#header-outer nav .nectar-global-section-megamenu ul {
  position: relative;
  top: auto;
  width: auto;
  pointer-events: all;
}
#header-outer #top nav .nectar-global-section-megamenu ul {
  background-color: transparent!important;
}
#header-outer #top nav .nectar-global-section-megamenu ul li {
  font-size: inherit;
  width: auto;
  line-height: inherit;
}
#header-outer nav .nectar-global-section-megamenu li {
  line-height: var(--nectar-body-line-height, 16px);
}
#header-outer nav .nectar-global-section-megamenu > .inner {
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
}
#header-outer nav .nectar-global-section-megamenu > .inner > div:last-child {
  margin-bottom: 0;
}
#header-outer li.sfHover .nectar-global-section-megamenu,
#header-outer li:hover .nectar-global-section-megamenu {
  opacity: 1;
}
#header-outer li.sfHover .nectar-global-section-megamenu *,
#header-outer li:hover .nectar-global-section-megamenu * {
  pointer-events: all;
}
#header-outer li.sfHover .nectar-global-section-megamenu,
#header-outer li.sfHover .nectar-global-section-megamenu > .inner,
#header-outer li:hover .nectar-global-section-megamenu,
#header-outer li:hover .nectar-global-section-megamenu > .inner {
  opacity: 1;
  transform: none;
}

#slide-out-widget-area nav .nectar-global-section-megamenu {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s cubic-bezier(0.215,0.61,0.355,1), padding 0.25s cubic-bezier(0.215,0.61,0.355,1);
}

body[data-megamenu-width="full-width"] #header-outer #top .sf-menu > .megamenu.nectar-megamenu-menu-item.width-100 > ul,
body[data-megamenu-width="full-width"] #top .sf-menu > .megamenu.nectar-megamenu-menu-item.width-100 > .nectar-global-section-megamenu {
 	border-radius: 0;
}

#header-outer nav >ul >.megamenu >.sub-menu{
  display:table
}
#header-outer nav >ul >.megamenu >.sub-menu{
  padding:30px 0
}
#header-outer nav >ul >.megamenu >ul >li{
  padding:0 0 0 30px;
  border:none
}

#header-outer nav >ul >.megamenu >ul >li:last-child{
  padding-right:30px
}

[data-megamenu-width="full-width"] #top nav >ul >.megamenu:not(.width-50):not(.width-75) >ul >li {
  padding-right: 30px;
	padding-left: 0;
}

[data-megamenu-width="full-width"] #top nav >ul >.megamenu:not(.width-50):not(.width-75) >ul >li:last-child{
  padding-right:0;
	padding-left: 0;
}

#header-outer nav >ul >.megamenu >ul >li >ul{
  margin:0;
  padding:0
}

#top nav >ul >.megamenu >ul >li{
  width:33.33%
}

#top nav >ul >.megamenu >ul >li {
  display:table-cell;
  float:none;
}

#top nav >ul >.megamenu.columns-2 >ul >li{
  width:50%
}
#top nav >ul >.megamenu.columns-3 >ul >li{
  width:33.33%
}
#top nav >ul >.megamenu.columns-4 >ul >li{
  width:25%
}
#top nav >ul >.megamenu.columns-5 >ul >li{
  width:20%
}
#top nav >ul >.megamenu.columns-6 >ul >li{
  width:16.66%
}
#header-outer nav >ul >.megamenu >ul >li ul {
  display:block;
  top:0!important;
  width:100%;
  opacity:1!important;
  left:0!important;
  box-shadow:none;
  position:relative
}
#header-outer nav >ul >.megamenu >ul >li >ul >.has-ul >ul{
  margin-left:0;
  padding-right:0;
  padding-left:0
}

#header-outer nav >ul >.megamenu ul li{
  float:none
}
#header-outer nav >ul >.megamenu ul li a{
  border-bottom:none;
  padding:9px 15px
}

body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >a,
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul >a{
  color:#444
}


body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul >ul{
  padding-bottom:15px
}
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul >ul{
  padding-bottom:20px
}
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul:last-child >ul{
  padding-bottom:0
}
#header-outer nav >ul >.megamenu >.sub-menu >li a,
body #header-outer nav >ul >.megamenu >.sub-menu >li a,
body #header-outer nav >ul >.megamenu >.sub-menu >li >a,
#header-outer nav >ul >.megamenu >ul >li >a:hover,
#header-outer nav >ul >.megamenu >ul >.sfHover >a,
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul.current-menu-item >a,
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >a,
body:not([data-header-format="left-header"]) #header-outer nav >ul >.megamenu >ul >li >ul >.has-ul >a{
  background-color:transparent!important
}

#header-outer nav .nectar-global-section-megamenu {
  box-shadow:0 6px 28px rgba(0,0,0,0.08);
}
#header-outer nav >ul >.megamenu ul li a{
  padding:6px 6px
}


#header-outer nav >ul >.megamenu >.sub-menu {
  background-color:#fff
}



.sf-menu .megamenu li ul{
  transform:none;
  box-shadow:none
}

#header-outer #top .sf-menu .megamenu li ul,
#header-outer #header-secondary-outer .sf-menu .megamenu li ul,
[data-header-color="light"] #header-outer:not(.transparent) .sf-menu > .megamenu li ul {
  border-top:0;
}

.sf-menu .megamenu li ul,
#header-outer .sf-menu .megamenu ul .sub-menu {
  background-color:transparent!important
}