// fla_style

//menu
.menu-item {
    a {
        cursor:pointer;
    }
    &:hover a {
        color: #f6e937 !important;
    }
    &.current-menu-item a {
        color: #f6e937 !important;
    }
}

//home
#inner_section_visione {
    img {
        width: 100%;
    }
    .bg_img {
        border-radius: 20px;
    }
    .logo_img {

    }
}
