// fla_style

//menu
.menu-item {
    a {
        cursor:pointer;
    }
    &:hover a {
        color: #f6e937 !important;
    }
    &.current-menu-item a {
        color: #f6e937 !important;
    }
}

//home
#inner_section_visione {
    img {
        width: 100%;
    }
    .bg_img {
        border-radius: 20px;
    }
    .logo_img {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        left: 20px;
    }
}

.inner_row.spline-content {
    .row_col_wrap_12_inner {
        .vc_col-sm-12 {
            @media(max-width:1024px){
                position: relative;
                top: 250px;
            }
            @media(max-width:768px) {
                position: relative;
                top: 140px;
                max-width: 450px;
                margin: 0 auto;
            }
        }
    }
}
