// fla_style

//menu
.menu-item {
    a {
        cursor:pointer;
    }
    &:hover a {
        color: #f6e937 !important;
    }
    &.current-menu-item a {
        color: #f6e937 !important;
    }
}
body.home {
    #header-outer.transparent[data-lhe="animated_underline"] #top nav > ul > li > a:hover{
        color: #f6e937 !important;
    }
}

//home
#inner_section_visione {
    img {
        width: 100%;
    }
    .bg_img {
        border-radius: 20px;
    }
    .logo_img {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        left: 20px;
    }
}
#spline-container-full-height {
    h3 span {
        &::after {
            content: "";
            background: radial-gradient(#1a1a1ab5 0%, transparent 70%);
            position: absolute;
            left: 0;
            top: -27px;
            width: 100%;
            height: 98%;
            display: block;
            z-index: -1;
        }
    }
}
/*spline-viewer {
    @media(max-width:1024px){
        width: 140vw;
        margin-left: -20vw;
    }
}
#spline-container-full-height{
    @media(max-width:690px){
        margin-top: -290px;
    }
}
.inner_row.spline-content {
    .row_col_wrap_12_inner {
        .vc_col-sm-12 {
            @media(max-width:1024px){
                position: relative;
                top: 250px;
            }
            @media(max-width:768px) {
                position: relative;
                top: 140px;
                max-width: 450px;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
}*/
