// fla_style

//menu
.menu-item {
    a {
        cursor: pointer;
    }

    &:hover a {
        color: #f6e937 !important;
    }

    &.current-menu-item a {
        color: #f6e937 !important;
    }
}

body.home {
    #header-outer.transparent[data-lhe="animated_underline"] #top nav>ul>li>a:hover {
        color: #f6e937 !important;
        //color: #fff;
    }
}


//home
#inner_section_visione {
    img {
        width: 100%;
    }

    .bg_img {
        border-radius: 20px;
    }

    .logo_img {
        position: absolute;
        bottom: 20px;
        width: calc(100% - 40px);
        left: 20px;
    }
}

#spline-container-full-height {
    h3 span {
        &::after {
            content: "";
            background: radial-gradient(#1a1a1ab5 0%, transparent 70%);
            position: absolute;
            left: 0;
            top: -27px;
            width: 100%;
            height: 98%;
            display: block;
            z-index: -1;
        }
    }
}

spline-viewer,
hana-viewer {
    @media(max-width:1000px) {
        width: 140vw;
        margin-left: -20vw;
    }
}

//menu
.special {
    margin-left: 12.5vw;

    @media(max-width:999px) {
        padding-top: 40px;
        margin-top: 40px;
        border-top: 1px solid #ffffff47;
    }

    .menu-title-text {
        white-space: nowrap;
        font-family: "polymath-text", sans-serif;
        color: #f6e937;
        text-transform: capitalize;
        font-weight: 900;
        font-size: 16px !important;
    }

    position: relative;

    &::after {
        margin-left: -16px;
        margin-right: auto;
        content: url("../img/segno_grafico.svg");
    }

    &::before {
        content: 'LEGGI >';
        display: inline;
        color: #f6e937;
        font-weight: 300;
        font-size: 13px;
        width: fit-content;
        display: inline-block;
        white-space: nowrap;
        margin-right: 2px;
    }
}

/*.inner_row.spline-content {
    .row_col_wrap_12_inner {
        .vc_col-sm-12 {
            @media(max-width:1024px){
                position: relative;
                top: 250px;
            }
            @media(max-width:768px) {
                position: relative;
                top: 140px;
                max-width: 450px;
                margin-left: auto !important;
                margin-right: auto !important;
            }
        }
    }
}*/