#wpadminbar {
  max-height: 6px !important;
  overflow: hidden !important;
  transition: max-height 0.1s;

  &:hover {
    max-height: 100px !important;
  }
}

html {
  margin-top: 0 !important;
}


@media screen and (max-width: 768px) {
  #wpadminbar {
    display: none !important;
  }
}

.full-width-section .light .nectar-button:hover,
.nectar-button:hover {
  opacity: 1 !important;
}

#hero {
  padding-top: 4vh !important;
  height: 90vh !important;
  padding-bottom: 0vh !important;

  >.row_col_wrap_12 {
    height: 100%;
  }

  .colonna-hero>.vc_column-inner>.wpb_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titolo-hero {
    margin-bottom: 50px;
  }

  .colonna-hero>.vc_column-inner {
    padding-bottom: 0;
  }

  .horizontal-pin {
    position: relative;
    overflow: hidden;
  }

  .s-home-intro {
    margin-top: -50px;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
  }

  .horizontal-scroll {
    white-space: nowrap;
    display: inline-block;
  }

  .scroll-text {
    font-size: 12vw;
    line-height: 1;
    white-space: nowrap;
    display: inline-block;
    margin: 0;
    padding: 0;
    transform: translateX(0);
    /* IMPORTANTE per Salient */
  }

  .js-title-text {
    transform: translateX(0) !important;

    * {
      font-weight: 400;
    }
  }

  .horizontal-scroll {
    padding-right: 20vw;
  }

}

#servizi {
  counter-reset: section;
  transform: translateY(95px);
  margin-bottom: 150px;

  .nectar-post-grid-wrap {

    .nectar-post-grid {
      .nectar-post-grid-item:nth-child(2) {
        top: 126px !important;
      }
    }

    .nectar-post-grid-item {
      &::after {
        content: "";
        right: -8px;
        bottom: -8px;
        border-radius: 16px;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #f6e937;
        z-index: -10;
      }

      .inner {
        padding: 120px 16px 16px 16px;
        background-color: #EDEDED;
        border: 1px solid black;
        position: relative;

        .item-main {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;
          align-items: center;

          .item-meta-extra {
            width: auto;
            margin-top: 0;
            display: flex;
            align-items: center;
            max-width: 40%;
            gap: 20px;

            &::after {
              content: url('../img/arrow_cta.svg');
              height: 24px;
            }

            span {
              color: #1A1A1A;
              font-size: 16px;
              font-weight: 500;

              overflow: hidden;
              display: -webkit-box;
              -webkit-line-clamp: 3;
              -webkit-box-orient: vertical;
            }
          }
        }

        .post-heading,
        .post-heading a,
        .post-heading a span {

          color: #1A1A1A !important;
          font-size: 48px !important;
          font-family: "georgia", sans-serif !important;
          font-weight: 400 !important;
          word-wrap: break-word !important;
          font-style: italic;
        }

        .post-heading a span::before {
          counter-increment: section;
          /* Increment the value of section counter by 1 */
          content: "0" counter(section) " / ";
        }
      }

      h2.post-heading {
        line-height: 1;

        @media screen and (max-width: 767px) {
          font-size: clamp(30px, 12vw, 37px) !important;
        }

        @media screen and (min-width: 768px) and (max-width: 999px) {
          font-size: clamp(40px, 12vw, 47px) !important;
        }
      }
    }

    .nectar-post-grid-item__meta-wrap {
      display: none;
    }
  }
}

#contatti {
  .text.nectar-text-reveal-button__text {
    line-height: 1.2;

    @media screen and (max-width: 690px) {
      font-size: min(20px, 10vw) !important;
    }
  }
}

#linea-con-occhi {
  position: fixed;
  z-index: 10;
  bottom: 2vh;
  left: 5vw;
  width: 90vw;
  margin-bottom: 1rem;
}

.spline-background {
  min-height: 100vh;

  .spline-content {
    top: 45%;
    width: 100%;

    .vc_column-inner {
      max-width: 50%;
      margin: 0 auto;
      text-align: center;

      h3 {
        text-shadow: 0px 0px 30px #000000;
      }

      a {
        padding: 10px 20px;
        word-wrap: break-word;
        -webkit-box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.65);

        span {
          color: black;
          font-size: 12px;
          font-weight: 500;
          text-transform: uppercase;
        }
      }
    }
  }
}

#ma-ti-sceglie {
  h3 {
    font-size: 130px !important;
    line-height: 160px;
  }

  .nectar-text-inline-images__marker {
    clip-path: unset;

    &:nth-of-type(2) {
      &:before {
        content: "";
        width: 100%;
        height: 80%;
        top: 15%;
        background-color: black;
        border-radius: 62px;
        background-size: 10px;
        position: absolute;
        left: 0;
      }
    }
  }
}

#stay-in-touch {

  .nectar-text-inline-images__marker {

    clip-path: none;
    width: auto;

    img {
      position: relative;
    }
  }

  .stay-in-touch {
    h2 {
      font-size: 147px;
      font-weight: 400;
      line-height: 120.58px;
      margin-bottom: 50px !important;

      @media screen and (max-width:1000px) {
        font-size: 80px;
        font-weight: 400;
        line-height: 1;
        margin-bottom: 20px !important;
      }
    }
  }


  .card {
    position: relative;

    .vc_column-inner {

      &::after {
        content: "";
        background-color: #f6e937;
        position: absolute;
        width: 100%;
        height: 100%;
        left: 5px;
        top: 5px;
        border-radius: 16px;
        z-index: -5;
      }
    }

    >.vc_column-inner>.wpb_wrapper {
      background-color: #D9D9D9;
      padding: 20px 30px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: black;
      text-transform: uppercase;
      font-size: 12px;
      border-radius: 16px;
      border: 1px solid black;
      position: relative;
      z-index: 1;

      img {
        width: 62px;
        height: 62px;
      }
    }

    &.no-bg {
      >.vc_column-inner>.wpb_wrapper {
        background-color: #1a1a1a;
        border: 1px solid white;

        * {
          color: #F6E937;
        }

      }

    }
  }


}

.rotateWord.homepage {
  .splide {
    display: inline-flex;
  }
}

#persona,
.persona {
  .name {
    text-align: right;
    font-family: "polymath-text", sans-serif !important;
    margin-bottom: 16px;

    em {
      font-weight: 400 !important;
      font-family: "georgia", sans-serif !important;
    }
  }

  .colonna-persona-experience {

    &.right {
      padding-left: 0vw;
      padding-right: 5vw;

      @media screen and (max-width: 1000px) {
        padding-right: 0vw;
      }
    }

    padding-left: 5vw;

    @media screen and (max-width: 1000px) {
      padding-left: 0vw;
    }

    >.vc_column-inner {
      height: 100%;

      >.wpb_wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }
  }

  .experience-list {
    ul {
      list-style-type: none;
      color: white !important;
      margin-left: 0;

      li {
        display: block;
        font-size: 20px;
        font-weight: 500;
        padding-top: 32px;
        padding-bottom: 32px;
        border-bottom: 1px solid white;

        @media screen and (max-width: 1000px) {
          font-size: 18px;
        }

        &:first-child {
          padding-top: 0;
        }

        &:last-child {
          padding-bottom: 0;
          border-bottom: 0px;
        }

        * {
          text-transform: uppercase;
          color: white !important;
        }
      }
    }
  }
}

.experience-intro {
  &-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    word-break: keep-all;
    white-space: nowrap;
    justify-content: space-between;
    position: relative;
    max-width: 90vw;
    margin: 0 auto;

    .first,
    .middle,
    .last {
      width: auto;

      &.h1 {
        font-size: 5vw;
        line-height: 5vw;
        word-break: keep-all;
        white-space: nowrap;
        padding-bottom: 0 !important;
        display: inline-block;
        transform-origin: center center;
      }
    }

    .first {
      transform-origin: left;
      left: -60%;
    }

    .last {
      transform-origin: right;
      right: -70%;
    }

    .first,
    .last {
      position: absolute;
      transition: all 1.4s ease-in-out;
    }

    .middle {
      font-size: 0 !important;
      transition: all 1.4s ease-in-out;
    }

  }

  &.first-animation {
    .first {
      left: 0;
    }

    .last {
      right: 0;
    }
  }

  &.second-animation {

    .first,
    .last {
      position: relative;
    }
  }

  &.is-ready {

    .first,
    .last {
      font-size: 0vw !important;
    }

    .middle {
      font-size: 12.7vw !important;
    }
  }
}

.colonna-espandibile-esperienza {
  min-height: 80vh;
  align-content: flex-end;
  position: relative;

  .colonna-youtrend,
  .colonna-off {
    position: relative;
    z-index: 1;

    >.vc_column-inner {
      height: 100%;

      >.wpb_wrapper {
        height: 100%;
        display: flex;
        padding: 50px !important;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        z-index: 2;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      height: 100%;
      width: 44.67vw;
      background-color: rgba(0, 0, 0, 0.222);
      border-radius: 20px;
      transition: width 0.6s ease;
      z-index: 1;
    }
  }

  /* posizionamento base */
  .colonna-youtrend::before {
    left: 0;
  }

  .colonna-off::before {
    right: 0;
  }

  .row_col_wrap_12 {
    &:hover {

      .colonna-youtrend::before,
      .colonna-off::before {
        width: 32.33vw;
      }
    }

    .colonna-youtrend:hover::before {
      width: 57vw;
    }

    .colonna-off:hover::before {
      width: 57vw;
    }

    .colonna-centrale {
      padding: 50px 0 !important;
      position: relative;
      z-index: 3;

      .testo-dritto {
        p {
          color: #f6e937;
          font-family: "georgia", sans-serif;
          font-size: 77px;
          line-height: 77px;
          font-weight: 400;
          text-transform: uppercase;
          word-wrap: break-word;
          margin: 0 auto;
          height: 520px;
          writing-mode: vertical-rl;
          text-orientation: mixed;
          transform: rotate(180deg);
        }
      }
    }
  }

}




@media screen and (max-width: 1000px) {

  #hero .colonna-hero>.vc_column-inner>.wpb_wrapper {
    gap: 30px;
  }

  .spline-background .spline-content .vc_column-inner {
    max-width: 100%;
    padding: 0 5vw;
  }

  #ma-ti-sceglie {
    h3 {
      font-size: 70px !important;
      line-height: 1.56;
    }
  }

  #servizi {
    .nectar-post-grid-wrap {

      .nectar-post-grid-item {

        .inner {
          padding: 80px 16px 16px 16px;

          .item-main {
            .item-meta-extra {
              span {
                font-size: 14px;
              }
            }
          }

          .post-heading,
          .post-heading a,
          .post-heading a span {
            font-size: 28px !important;
          }
        }

        .content {
          left: 0;
          padding: 10px 35px;
        }
      }

      .nectar-post-grid-item__meta-wrap {
        display: none;
      }
    }
  }


  #slide-out-widget-area-bg.fullscreen.dark {
    opacity: 1 !important;
    background-color: #1A1A1A !important;
  }

  .menu {
    li {
      margin-bottom: 0;
    }

    a {
      font-size: 24px;
      line-height: 26px;
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .subtitle {
      padding-top: 6px;

      p {
        padding-bottom: 0;
        line-height: 1;

        &:last-of-type {
          padding-bottom: 1rem;
        }
      }
    }
  }

  .colonna-espandibile-esperienza {

    .colonna-off,
    .colonna-youtrend {
      >.vc_column-inner>.wpb_wrapper {
        padding: 20px !important;
      }

      &::before {
        width: 90vw;
      }
    }
  }

}


@media screen and (max-width: 768px) {

  .inner-wrap,
  body #header-outer {
    padding: 0 !important;
  }

  #ma-ti-sceglie {
    h3 {
      font-size: 40px !important;
    }
  }

  #servizi {
    transform: translateY(70px);

    .row_col_wrap_12.col.span_12.light.left {
      padding-left: 0 !important;
      padding-right: 0 !important;
    }

    .nectar-post-grid-wrap {

      .nectar-post-grid-item {

        &::after {
          top: 10px;
          height: 67vh;
        }

        .inner {
          padding: 150px 16px 16px 16px;
        }

        .item-meta-extra {
          max-width: 100% !important;
          padding-top: 10px;
          width: 100% !important;
          justify-content: space-between;
        }

      }
    }

    .nectar-post-grid[data-grid-item-height="80vh"] .nectar-post-grid-item {
      min-height: 100vh !important;
    }
  }

}

.align-items-end {
  .row_col_wrap_12_inner {
    align-items: self-end;
  }
}

.max-width-centered {
  max-width: 650px;
  margin: 0 auto;
}


.max-width-centered-460 {
  max-width: 460px;
  margin: 0 auto;
}

.max-width-centered-800 {
  max-width: 850px;
  margin: 0 auto;
}

.bubble {
  position: relative;
  width: 320px;
  padding: 36px 40px;
  border-radius: 28px;

  font-size: 22px;
  line-height: 1.2;
  text-align: center;
  color: #f5f5f5;

  background: rgba(20, 20, 20, 0.85);
  backdrop-filter: blur(6px);

  border: 1px solid rgba(255, 255, 255, 0.35);

  box-shadow:
    0 0 0 1px rgba(255, 255, 255, 0.15),
    0 0 40px rgba(0, 0, 0, 0.8),
    0 0 80px rgba(0, 0, 0, 0.9);
}

.bubble-bottom-left::before {
  content: "";
  position: absolute;

  left: 56px;
  bottom: -26px;

  width: 0;
  height: 0;

  border-top: 26px solid rgba(255, 255, 255, 0.35);
  border-right: 26px solid transparent;
}

.bubble-bottom-left::after {
  content: "";
  position: absolute;

  left: 57px;
  bottom: -23px;

  width: 0;
  height: 0;

  border-top: 24px solid rgba(20, 20, 20, 0.9);
  border-right: 24px solid transparent;
}

.bubble-bottom-right::before {
  content: "";
  position: absolute;

  right: 56px;
  bottom: -26px;

  width: 0;
  height: 0;

  border-top: 26px solid rgba(255, 255, 255, 0.35);
  border-left: 26px solid transparent;
}

.bubble-bottom-right::after {
  content: "";
  position: absolute;

  right: 57px;
  bottom: -23px;

  width: 0;
  height: 0;

  border-top: 24px solid rgba(20, 20, 20, 0.9);
  border-left: 24px solid transparent;
}


.spline-bubble-background {
  min-height: 100vh;
}

.spline-content-bubble {
  height: 100vh;
  margin-top: -90vh !important;

  @media (max-width: 1024px) {
    margin-top: -65vh !important;
  }

  .bubble-1,
  .bubble-2,
  .bubble-3 {
    position: absolute;
    opacity: 0;
    transform: scale(0.95);
    transition:
      opacity 0.6s ease,
      transform 0.6s ease;
  }

  .bubble-1.active,
  .bubble-2.active,
  .bubble-3.active {
    opacity: 1;
    transform: scale(1);
  }
}


.hero-persona {
  position: relative;

  .nome-persona {
    position: absolute;
    left: 50px;
    text-align: left;
    bottom: 50px;

    h1 {
      font-weight: 400 !important;
      font-family: "polymath-text", sans-serif !important;

      em {
        font-family: "georgia" , sans-serif !important;
      }
    }
  }
}