#header-outer {

    #top {
        min-height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 30px;
        align-content: center;
        z-index: 1000;

        background: transparent;

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            mask-image: linear-gradient(to bottom,
                    rgba(0, 0, 0, 1) 70%,
                    rgba(0, 0, 0, 0) 100%);
            transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
            pointer-events: none;
        }

        &.scrolled {
            &::before {
                background-color: rgba(0, 0, 0, 0.6);
                backdrop-filter: saturate(180%) blur(10px);
                -webkit-backdrop-filter: saturate(180%) blur(10px);

                mask-image: linear-gradient(to bottom,
                        rgba(0, 0, 0, 1) 70%,
                        rgba(0, 0, 0, 0) 100%);

                -webkit-mask-image: linear-gradient(to bottom,
                        rgba(0, 0, 0, 1) 70%,
                        rgba(0, 0, 0, 0) 100%);
            }
        }

        .row {
            border-top: 1px solid white;
            padding-top: 24px;
            margin-top: 32px;
        }

        .header-beyond {
            margin-left: 0 !important;

            ul {
                counter-reset: menu;
                align-items: flex-start;

                li {
                    max-width: 210px;

                    &:hover {
                        text-decoration: none;
                    }

                    a {
                        color: white;
                        text-transform: uppercase;
                        font-weight: 500;

                        span {
                            font-size: 13px;

                            &::after {
                                content: none !important;
                            }
                        }

                        &::before {
                            font-size: 13px;
                            // counter-increment: menu;
                            /* Increment the value of section counter by 1 */
                            // content: "0" counter(menu) " / ";
                        }

                        .subtitle {
                            max-width: 85%;

                            p {
                                text-transform: none;
                                font-size: 13px;
                                padding-top: 12px;
                            }
                        }
                    }

                    .sub-menu {
                        background-color: transparent !important;
                        padding-left: 0 !important;
                        max-width: 100%;

                        li:hover,
                        .current_page_item {
                            background-color: unset !important;

                            a {

                                background-color: unset !important;
                                color: #f6e937 !important;
                            }
                        }
                    }
                }
            }
        }

    }
}

#beyond-logo a {
    background-image: none !important;
    text-decoration: none !important;
}

#header-outer:not([data-format="left-header"]) #top nav>ul>li:not(.megamenu) ul .current-menu-item>a,
#header-outer:not([data-format="left-header"]) #top nav>ul>li:not(.megamenu) ul a:hover {
    background-color: transparent !important;
}

#slide-out-widget-area .off-canvas-menu-container {
    padding: 0 5% !important;
}

.page-template-default:not(.home) {
    .container-wrap {
        padding-top: 24vh;
    }
}

#breadcrumbs {
    display: none;
}

@media screen and (max-width: 1000px) {

    #header-outer {
        top: 0 !important;
    }

    #top {
        .row {
            padding-top: 50px;
            margin-top: 0;
        }
    }

    #linea-con-occhi {
        bottom: 0;
        margin-bottom: 0;

        .column_element_direction_desktop_horizontal.force-desktop-text-align-right>.vc_column-inner>.wpb_wrapper {
            display: flex;
        }

        .text-occhi {
            padding-top: 16px !important;
            padding-left: 8px;
        }
    }

    #header-outer #top .row {
        padding-top: 42px;
        margin-top: 24px;
    }

}