body.home {
    #header-outer {
        opacity: 0;
    }

    &.intro-lock {
        overflow: hidden;
        height: 100vh;
    }
}

body.home {
    #header-outer {
        &.intro-ended {
            opacity: 1;
        }

    }
}

#header-outer {
    -webkit-backdrop-filter: unset !important;
    backdrop-filter: unset !important;
    transition: all 0.3s ease-in-out !important;


    #top {
        min-height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding-bottom: 50px;
        align-content: center;
        z-index: 12;
        background: transparent;

        .menu-title-text {
            em {
                font-family: "georgia", sans-serif !important;
            }
        }

        &::before {
            content: '';
            position: absolute;
            inset: 0;
            z-index: -1;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: none;
            -webkit-backdrop-filter: none;
            mask-image: linear-gradient(to bottom,
                    rgba(0, 0, 0, 1) 70%,
                    rgba(0, 0, 0, 0) 100%);
            transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
        }

        &.scrolled {
            padding-bottom: 100px;

            &::before {
                background-color: rgba(0, 0, 0, 0.2);
                backdrop-filter: saturate(180%) blur(24px);
                -webkit-backdrop-filter: saturate(180%) blur(24px);

                mask-image: linear-gradient(to bottom,
                        rgba(0, 0, 0, 1) 30%,
                        rgba(0, 0, 0, 0) 80%);

                -webkit-mask-image: linear-gradient(to bottom,
                        rgba(0, 0, 0, 1) 30%,
                        rgba(0, 0, 0, 0) 80%);
            }

            .header-name,
            .super {
                margin-top: 10px;
                font-size: 45px !important;
            }
        }

        .header-name,
        .super {
            transition: all 0.3s ease-in-out;
        }

        .row {
            border-top: 1px solid white;
            margin-top: 32px;
            // padding-top: 24px;

            justify-content: space-between;
            align-items: center;

            a {
                color: white;
            }

            &::before,
            &::after {
                content: none;
            }
        }

        .header-beyond {
            margin-left: 0 !important;

            ul {
                counter-reset: menu;
                align-items: flex-start;

                li {
                    max-width: 210px;

                    &:hover {
                        text-decoration: none;
                    }

                    a {
                        color: white;
                        text-shadow: 1px 0px 15px #000000;
                        text-transform: uppercase;
                        font-weight: 500;
                        margin-left: 0 !important;
                        margin-right: 20px !important;
                        padding-left: 0 !important;

                        span {
                            font-size: 13px;

                            &::after {
                                content: none !important;
                            }
                        }

                        &::before {
                            font-size: 13px;
                            // counter-increment: menu;
                            /* Increment the value of section counter by 1 */
                            // content: "0" counter(menu) " / ";
                        }

                        .subtitle {
                            max-width: 85%;

                            p {
                                text-transform: none;
                                font-size: 13px;
                                padding-top: 12px;
                            }
                        }
                    }

                    .sub-menu {
                        background-color: transparent !important;
                        box-shadow: none !important;
                        padding-left: 0 !important;
                        max-width: 100%;
                        border-top: 0 !important;

                        li:hover,
                        .current_page_item {
                            background-color: unset !important;

                            a {
                                transition: all 0.3s ease-in-out;
                                text-shadow: 1px 0px 15px #000000;
                                background-color: unset !important;
                                color: #f6e937 !important;
                            }
                        }
                    }
                }
            }
        }

    }
}

#beyond-logo a {
    background-image: none !important;
    text-decoration: none !important;
}

#header-outer:not([data-format="left-header"]) #top nav>ul>li:not(.megamenu) ul .current-menu-item>a,
#header-outer:not([data-format="left-header"]) #top nav>ul>li:not(.megamenu) ul a:hover {
    background-color: transparent !important;
}

#slide-out-widget-area .off-canvas-menu-container {
    padding: 0 5% !important;
}

// .page-template-default:not(.home) {
//     .container-wrap {
//         padding-top: 24vh;
//     }
// }

#breadcrumbs {
    display: none;
}


.footer-inner {
    margin: 0 auto;
    padding-bottom: 9vw;
    padding-left: 5vw;
    padding-right: 5vw;

    .row-info {
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        a {
            font-size: 12px;
            color: white;
            padding-left: 8px;
        }
    }

    .row {
        display: flex;
        flex-wrap: wrap;

        a {
            color: white;
        }

        ul a {
            color: white;
            text-transform: uppercase;
            font-size: 20px;

        }

        .col-6 {
            width: 50%;
        }

        .col-3 {
            width: 25%;
        }

        .footer-info {
            font-size: 18px;

            a {
                text-transform: none !important;
            }
        }

        @media screen and (max-width:1000px) {

            .col-6,
            .col-3 {
                width: 33%;
            }
        }

        @media screen and (max-width:768px) {

            .col-6,
            .col-3 {
                width: 100%;
            }
        }
    }
}

.off-canvas-menu-container {
    ul {
        li {
            a {
                font-family: "polymath-text", sans-serif !important;
                font-weight: 400 !important;
            }
        }
    }
}

@media screen and (max-width: 1000px) {

    #header-outer {
        top: 0 !important;

        #top {
            padding-bottom: 30px !important;

            .row {
                display: flex;
                flex-direction: row;
                padding-top: 0px;
                margin-top: 12px !important;

                .col {
                    padding-top: 12px !important;
                }

                .col-3 {
                    width: 75% !important;
                }

                .header-name,
                .super {
                    font-size: 11vw !important;
                }
            }

            &.scrolled {

                .header-name,
                .super {
                    font-size: 24px !important;
                }
            }
        }
    }


    #linea-con-occhi {
        bottom: 0;
        margin-bottom: 0;

        .column_element_direction_desktop_horizontal.force-desktop-text-align-right>.vc_column-inner>.wpb_wrapper {
            display: flex;
        }

        .text-occhi {
            padding-top: 16px !important;
            padding-left: 8px;
            color: white !important;
            a, * {
                color: white !important;
            }
        }
    }

    .footer-inner {
        padding-bottom: 15vh;

        ul {
            margin-bottom: 20px !important;

            a {
                font-size: 18px !important;
            }
        }

        .row-info {
            flex-direction: column;

            a {
                display: block;
                padding-left: 0;
            }
        }
    }
}

@media screen and (max-width:1200px) and (min-width:100px) {

    #header-outer #top .header-name,
    #header-outer #top .super {
        font-size: 54px !important;
    }
}