#hero.reputation-driven {
  position: relative;
  height: 100vh;
  overflow: hidden;
  /* Titolo principale */
  /* Wrapper dei sottotitoli */
  /* Sottotitoli sovrapposti */
  /* Stato iniziale */
}
#hero.reputation-driven .reputation-section {
  position: relative;
  height: 100%;
}
#hero.reputation-driven .title-main {
  position: relative;
  z-index: 2;
  margin-bottom: 0;
}
#hero.reputation-driven .subtitle-wrapper {
  max-width: 70%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  margin-top: 1.2em;
}
@media screen and (max-width: 1000px) {
  #hero.reputation-driven .subtitle-wrapper {
    margin-top: 0;
    max-width: 100%;
  }
}
#hero.reputation-driven .subtitle {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
#hero.reputation-driven .subtitle-1 {
  opacity: 1;
}
#hero.reputation-driven .subtitle-2 {
  opacity: 0;
}
#hero.reputation-driven .colonna-hero > .vc_column-inner > .wpb_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#hero.reputation-driven .colonna-hero > .vc_column-inner > .wpb_wrapper h2 {
  text-align: center !important;
}
@media screen and (max-width: 1000px) {
  #hero.reputation-driven .colonna-hero > .vc_column-inner > .wpb_wrapper h2 {
    text-align: left !important;
  }
}
#hero.reputation-driven .titolo-hero:first-of-type {
  margin-bottom: 0;
}
#hero.reputation-driven .colonna-title-reputation {
  margin-bottom: 120px !important;
}
@media screen and (max-width: 1000px) {
  #hero.reputation-driven .colonna-title-reputation {
    margin-bottom: 60px !important;
  }
  #hero.reputation-driven .colonna-title-reputation .vc_column-inner {
    padding-right: 0 !important;
  }
  #hero.reputation-driven .colonna-title-reputation .vc_column-inner .scribble {
    padding: 2px 10px 2px 10px;
    margin-left: -10px;
  }
  #hero.reputation-driven .colonna-title-reputation .vc_column-inner .scribble .icon {
    padding-left: 5px;
    padding-right: 10px;
  }
  #hero.reputation-driven .colonna-title-reputation .vc_column-inner .scribble .icon::after {
    left: 5px;
    content: url(../img/segno_grafico.svg);
  }
}

@media screen and (max-width: 1000px) {
  .title-reputation.desktop {
    display: none;
  }
}
@media screen and (min-width: 1000px) {
  .title-reputation.mobile {
    display: none;
  }
}
.title-reputation h2 {
  font-size: clamp(32px, 5vw, 64px) !important;
  line-height: 1.2 !important;
}
.title-reputation h2 .black-bg {
  border-radius: 12px;
  padding: 2px 10px;
  background-color: black;
  color: #F6E937 !important;
  margin-left: -10px;
}
.title-reputation h2 .black-bg i.icon {
  display: inline-block;
  width: unset;
  height: unset;
  line-height: 1;
  vertical-align: unset;
  margin-left: 0;
}
@media screen and (max-width: 1000px) {
  .title-reputation h2 .black-bg i.icon {
    vertical-align: text-top;
  }
}
.title-reputation h2 .scribble {
  background-color: black;
  border-radius: 16px;
  padding: 2px 10px;
  color: #F6E937;
}
.title-reputation h2 .scribble:first-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.title-reputation h2 .scribble:last-of-type {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.title-reputation h2 .icon:after {
  content: url(../img/segno-grafico-big.svg);
}

.matching-words {
  position: relative;
  min-height: 140vh;
  padding: 40px 20px;
  color: white;
  margin-top: 100px;
  /* BLOCCO SUPERIORE */
  /* BLOCCO FRASE */
}
.matching-words .row_col_wrap_12 {
  background: #EDEDED;
  border-radius: 48px;
}
.matching-words .top-block {
  position: sticky;
  top: 40px;
  display: block;
  height: 120px;
  pointer-events: none;
}
.matching-words .word {
  position: absolute;
  padding: 12px 22px;
  border-radius: 999px;
  font-size: 40px;
  font-weight: 700;
  color: black;
  font-family: "georgia", sans-serif;
  background: transparent;
  will-change: transform;
  border: 1px solid black;
  white-space: nowrap;
}
.matching-words .word-metodo,
.matching-words .word-consapevolezza,
.matching-words .word-immagine {
  background-color: #ededed;
}
.matching-words .word-metodo {
  left: 50%;
  border-radius: 50px;
  top: 0;
}
.matching-words .word-consapevolezza {
  left: 50%;
  border-radius: 3px;
  transform: translateX(40px);
  top: 0;
}
.matching-words .word-immagine {
  left: 50%;
  border-radius: 10px;
  transform: translateX(-80px);
  top: 60px;
}
.matching-words .sentence-block {
  margin-top: 40vh;
  text-align: center;
  font-size: 32px;
  line-height: 1.6;
  color: black;
}
.matching-words .sentence-block.is-near .slot .slot-outline {
  border: 1px solid rgba(190, 190, 190, 0);
}
.matching-words .sentence-block p {
  max-width: 900px;
  font-size: 32px;
  margin: 0 auto;
}
@media screen and (max-width: 1000px) {
  .matching-words .sentence-block p {
    font-size: 24px;
  }
}
.matching-words .sentence-block .slot {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0px 14px;
  /* elemento fantasma che determina la dimensione */
  /* buco visivo */
}
.matching-words .sentence-block .slot .slot-size {
  visibility: hidden;
  white-space: nowrap;
  font-size: 50px;
  font-weight: 700;
  padding: 12px 15px;
  line-height: 1;
}
.matching-words .sentence-block .slot .slot-outline {
  position: absolute;
  inset: 0;
  border: 1px solid #bebebe;
  transition: border 0.3s ease-in-out;
  border-radius: 50px;
  pointer-events: none;
}
.matching-words .sentence-block .slot.slot-consapevolezza .slot-size {
  padding-left: 0;
  padding-right: 0;
}
.matching-words .sentence-block .slot.slot-consapevolezza .slot-outline {
  border-radius: 3px;
}
.matching-words .sentence-block .slot.slot-immagine .slot-outline {
  border-radius: 10px;
}
.matching-words .sentence-block .sentence-block.is-active .slot-outline {
  opacity: 1;
}
.matching-words .sentence-block.is-active .slot::after {
  opacity: 1;
}

.blocco-testo {
  margin-bottom: 20vh;
  margin-top: 10vh;
}
@media screen and (max-width: 1000px) {
  .blocco-testo {
    margin-bottom: 15vh;
    margin-top: 5vh;
  }
  .blocco-testo p {
    font-size: 24px !important;
  }
}
.blocco-testo .scribble-container {
  background-color: unset;
}
.blocco-testo .scribble-container .scribble::after {
  background-image: url(../img/scribble.svg);
}
.blocco-testo p {
  text-align: justify;
  font-size: 32px;
  color: black;
  line-height: 1.4;
}

.riga * {
  color: black;
}
.riga .riga-box {
  margin-top: 30vh;
}
.riga .riga-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  align-items: center;
  padding-bottom: 10vh;
  gap: 20px;
}
.riga .riga-container h3 {
  text-align: justify;
  white-space: nowrap;
}

@media screen and (max-width: 1000px) {
  #matching-words {
    padding: 0;
    min-height: 100vh;
    margin-top: 50px;
  }
  #matching-words .word {
    font-size: 24px;
    padding: 8px 10px;
    line-height: 1;
  }
  #matching-words .sentence-block p {
    line-height: 2;
    font-size: 24px;
  }
  #matching-words .matching-words .sentence-block .slot .slot-size {
    line-height: 2;
    font-size: 24px;
  }
  .riga .riga-box {
    margin-top: 10vh;
  }
  .riga .riga-container {
    flex-wrap: wrap;
  }
}
.string-svg {
  display: block;
  width: 100%;
  height: 20px;
}

.string {
  stroke: black;
  stroke-width: 1px;
  fill: none;
}/*# sourceMappingURL=reputation-driven.css.map */